* {
  font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}

.root {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.helpButtonArea {
  display: block;
  text-align: right;
}

.helpButton {
  background-color: rgb(218, 235, 255);
  margin: 8px;
  border-radius: 4px;
  padding: 6px 15px;
}

.overlayBox {
  display: flex;
  align-items: center;
  text-align: center;
  width: 80vw;
  height: 80vh;
  border-radius: 4px;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.overlayContent {
  padding: 10px;
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.hintArea,
.keyboardArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px
}

.hintLine,
.keyboardLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hintLine {
  gap: 10px;
  height: 30px
}

.keyboardLine {
  gap: 6px;
  height: 30px
}

.hintLetter,
.keyboardButton {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hintLetter {
  width: 30px;
  height: 30px;
  border: solid;
  border-color: black;
  border-width: 1px;
}

.keyboardButton {
  width: 30px;
  height: 30px;
}

.unused {
  background-color: rgb(160, 160, 160);
}

.elsewhere {
  background-color: rgb(233, 233, 37);
}

.correct {
  background-color: rgb(10, 110, 10);
}

.neverGuessed {
  background-color: white;
}

.message {
  min-height: 20px;
  margin: 16px;
  text-align: center;
}

.buttonArea {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 8px;
  border-radius: 4px;
  padding: 6px 15px;
}

.button:disabled {
  background-color: rgb(255, 255, 255);
}

.button:enabled {
  background-color: rgb(218, 235, 255);
}
